

.sidebar__svg--dashboard{
    fill: #109CF1;
}

.sidebar__text--dashboard{
    color: #109CF1;
}

/* Task */

.dashboard{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 220px;
    margin-top: 30px;
    transition: margin-left 0.3s;
}

.dashboard--sidebar-open{
    transition: margin-left 0.3s;
    margin-left: 70px;
}

.dashboard__over-view{
    background: #ffffff;
    flex-basis: 55%;
    padding: 24px;
    height: 78vh;
    overflow-y: visible;
    margin-left: 10px;
    box-shadow: 0px 6px 18px 0px #0000000F;
    border-radius: 4px;
}

.dashboard__visial_graph{
    flex-basis: 35%;
    margin-right: 10px;
}

progress {


    width: 100%;
    border-radius: 20px;
  }
  progress::-webkit-progress-bar {
    height: 5px;
    border-radius: 20px;
    background-color: #EBEFF2;
}
progress::-webkit-progress-value {
      border-radius: 20px;
    background:#2ED47A;
  }

.progess__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.pogress__show{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    position: relative;
}

.progress__text{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.progess__week{
    color: #109CF1;
    position: relative;
    cursor: pointer;    
}
.progess__week::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
    margin-left: 3px;
    margin-top: 1px;
}

.progess__week-pop-up{
    position: absolute;
    background-color: #109CF1;
    border-radius: 4px;
    top: 14px;
    left: 42px;
    color: white;
    display: none;
}
.progess__week-pop-up--active{
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
    display: block;
}

.dashboard__current-date{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;    
    margin-bottom: 40px;
}

.dashboard__week, .dashboard__date{
    display: flex;
    justify-content: space-between;
}

.dashboard__date{
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard__date:hover .dashboard__day-name{
    color: #109CF1;
}
.dashboard__date:hover .dashboard__day-num{
    color: #109CF1;
}

.dashboard__day-name{
    color: #334D6E;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.dashboard__day-num{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    padding: 5px;
}

.dashboard__day-num--active{
    background-color: #109CF1;
    color:#ffffff;
    border-radius: 50%;
    padding: 5px;
}

.dashboard__date-feild{
    border-bottom: 1px solid #EBEFF2;
    padding-bottom: 25px;
}

.dashboard__items{
    max-height: 60%;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.dashboard__items::-webkit-scrollbar {
    width: 5px;
    background: #fff;
    border-radius: 8px;
}

.dashboard__items::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 8px;
}

.dashboard__items::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.dashboard__item{
    margin-top: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 8px 16px;
}

.dashboard__item:last-child{
    margin-bottom: 0;
}

.dashboard__title{
    display: flex;
    justify-content: space-between;
}

.dashboard__title-text{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #212121;
}

.dashboard__status--progress::before{
    content: "In ";
}

.dashboard__status{
    padding: 8px;
    border-radius: 5px;
    font-size: 11px;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

.dashboard__status:hover{
    filter: brightness(1.3);
}

.dashboard__location{
    padding: 8px 0;
    color: #7F8C8D;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.dashboard__status--progress{
    background-color: #F39C12;
}
.dashboard__status--completed{
    background-color: #2ECC71;
}

.dashboard__handler-photo{
    border-radius: 50%;
}

.dashboard__footer{
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 12px;
}

.dashboard__more-logo{
    justify-self: flex-end;
}
.dashboard__more-logo:hover{
    justify-self: flex-end;
    fill: #109CF1;
}

.dashboard__person{
    color: #7F8C8D;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;    
}

.dashboard__visual-graphs{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard__graphic{
    padding: 24px;    
    box-shadow: 0px 6px 18px 0px #0000000F;
    background-color: white;
    border-radius: 4px;
}

.dashboard__graphic-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #EBEFF2;
}

.dashboard__heading{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.01em;
}

.dashboard__graphic-link{
    color: #109CF1;
    text-decoration: none;
}
.dashboard__graphic-link::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
    margin-left: 3px;
    margin-top: 1px;
}

.dashboard__pop-up{
    position: absolute;
    background-color: #109CF1;
    border-radius: 4px;
    top: 14px;
    left: 42px;
    color: white;
    display: none;
}

.dashboard__pop-up--active{
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
    display: block;
}

.dashboard__graphic-timeline{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    position: relative;
}

.dashboard__img{
    margin-top: 20px;
}

.btn{
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    color: #109CF1;
    background: transparent;
}



.btn__wrapper{
    margin-top: 50px;
    display: flex;
}

.dashboard__img, .piechart__img{
    display: block;
    margin: 5px auto;
    max-width: 300px;
}

