html,
body {
  margin: 0;
  background: #E5E5E5;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.sidebar__products-logo {
  fill: #109CF1;
}

.sidebar__text--current {
  color: #109CF1;
}

.btn {
  cursor: pointer;
}

.carousel__btn {
  padding: 15px 5px;
  opacity: .5;
}

.carousel__btn:hover{
  filter: brightness(1.5);
}


.carousel {
  width: 500px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

.carousel-toolbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 10px;
}

.carousel__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.carousel__card {
  background: black;
  min-width: 500px;
  height: 250px;
  display: inline-block;
  object-fit: contain;
}

.carousel__card img {
  height: 250px;
  width: 500px;
  object-fit: cover;
}


.carousel__btn--left {
  transform: rotate(-180deg);
}

.products {
  transition: margin-left 0.3s;
  margin: 50px auto;
  background-color: #E5E5E5;
  margin-left: 220px;
  padding: 0 80px;
}

.products--sidebar-open{
  transition: margin-left 0.3s;
  margin-left: 70px;
  padding: 0 80px;
}

.product__action-logos {
  display: flex;
  gap: 8px;
  justify-self: end;
}

.product__header {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
}

.product__categories {
  padding: 2% 3%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .product__categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product__categories {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products__item-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-rows: auto 1fr;
}

.products__item-wrapper img {
  justify-self: center;
  align-self: center;
}

.products__item-wrapper h1 {
  flex-grow: 1;
  align-self: baseline;
  padding: 10px;
  font-family: 'Poppins' sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: left;
  align-self: end;
}

.products__img {
  padding: 20px 0;
}